body{
    /*font-family: 'David Libre', serif;*/
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.navbar a{
    color: #782d3e;
}

.add-btn-div{
    margin-bottom: 70px;
}

.form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}

.btn-primary{
    background-color: #5f3b4c;
}

.btn-primary:hover{
    background-color: #482c39;
}

.modal-header{
    background-color: #a07789;
    color: #ffffff;
}

.modal-footer{
    background-color: #a07789;
    color: #ffffff;
}

.login-glyphicon{
    font-size: 23px;
}

.highlight{
    box-shadow: 0px 0px 19px 2px rgba(16, 44, 31, 0.77);
}

.login-div{
    padding: 60px;
    position: relative;
    background-color: wheat;
    /*width: 40%;*/
}

.option-box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #000000;*/
    background-color: #a4e0eb;
    color: #533443;
}

.option-box:hover{

    background-color: #4e5469;
    color: #ffff00;
}

.box{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #000000;*/
    background-color: #a4e0eb;
    color: #533443;
}

.absent{
    background-color: red;
    color: #ffffff;
}

.leave{
    background-color: yellowgreen;
    color: #000000;
}

.box:hover{

    background-color: #4e5469;
    color: #ffff00;
}

.col-space{
    padding: 10px;
}

.modal-body{
    padding: 40px;
}


.info-box{
    height: 100px;
    padding: 20px;
}

.info-box div{
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: #ffffff;
}

.dropdown-div div{
    height: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.children{
    display: none;
}

.c_tab{
    background-color: #ffffff !important;
}

body a:hover{
    text-decoration: none;
}