body{
    font-family: 'David Libre', serif;
    font-size: 20px;
}

.login-glyphicon{
    font-size: 23px;
}

.highlight{
    -webkit-box-shadow: 0px 0px 19px 2px rgba(211,210,217,0.17);
    -moz-box-shadow: 0px 0px 19px 2px rgba(211,210,217,0.17);
    box-shadow: 0px 0px 19px 2px rgba(211,210,217,0.17);
}

.login-div{
    padding: 60px;
    position: relative;
    width: 40%;
}

.option-box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #000000;*/
    background-color: #a4e0eb;
    color: #533443;
}

.option-box:hover{

    background-color: #4e5469;
    color: #ffff00;
}

.col-space{
    padding: 10px;
}

.modal-body{
    padding: 40px;
}

.login-body{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 800px;

    background-image: url("../img/classroom.jpg");
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.info-box{
    height: 100px;
    padding: 20px;
}

.info-box div{
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: #ffffff;
}

.dropdown-div div{
    height: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}