.login-glyphicon{
    font-size: 23px;
}

.highlight{
    -webkit-box-shadow: 0px 0px 19px 2px rgba(211,210,217,0.17);
    -moz-box-shadow: 0px 0px 19px 2px rgba(211,210,217,0.17);
    box-shadow: 0px 0px 19px 2px rgba(211,210,217,0.17);
}

.login-div{
    padding: 60px;
    position: relative;
    width: 40%;
}

.option-box{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    background-color: #245269;
    color: #ffffff;
}

.option-box:hover{

    background-color: #4e5469;
    color: #ffff00;
}

.col-space{
    padding: 10px;
}


